:root {
    --texto-especial: #377771;
    --texto-blanco: #F4F4F5;
    --fondos-oscuros: #1E2425;
    --bloques-grisaceos: #252C2F;
}

* {
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fondos-oscuros);
    color: var(--texto-blanco);
}

header {
    background-color: var(--fondos-oscuros);
    width: 100%;
    padding: 15px 20px 17px;
    position: fixed;
}

.contenido-header {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}

.icon-page a {
    text-decoration: none;
    font-family: "Bowlby One", sans-serif;
    font-weight: lighter;
    font-size: 1.25rem;
    color: var(--texto-especial);
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
}

.bold {
    font-weight: bold;
}

.inicio {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #1E2325FF 0%, #1E2325DD 50%, #1E2325FF 100%), url(Images/background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.card-felipe {
    background-color: var(--fondos-oscuros);
    max-width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 35px;
    padding: 25px;
}

.card-photo {
    display: inline-block;
    padding: 0 40px;
}

.photo {
    display: block;
    width: 100%;
    border: 10px solid var(--texto-especial);
    border-radius: 100%;
}

.nombre {
    font-family: "Bowlby One", sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 1.8rem;
    color: var(--texto-especial);
    margin-top: 15px;
}

.titulo {
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: normal;
}

.redes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redes a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--texto-blanco);
    border: 2px solid var(--texto-blanco);
    border-radius: 50%;
    transition: all 0.3s ease;
    text-decoration: none;
}

.redes a:hover {
    border: 2px solid var(--texto-especial);
    background-color: var(--texto-especial);
    color: var(--fondos-oscuros);
}

.about {
    color: var(--texto-blanco);
    padding: 60px 20px;
}

.about h2 {
    text-align: center;
    font-family: 'Righteous', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    max-width: 1000px;
    margin: 0 auto 10px;
    font-size: 1rem;
}

.about strong {
    color: var(--texto-especial);
}

.contenedor-cv {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.boton-cv {
    display: inline-block;
    padding: 10px 20px;
    color: var(--texto-blanco);
    border: 2px solid var(--texto-blanco);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.25px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.boton-cv i {
    margin-right: 5px;
}

.boton-cv:hover {
    background-color: var(--texto-blanco);
    color: var(--fondos-oscuros);
}